.single {
    color: $base;
    padding-top: rem(60);
    padding-bottom: rem(41);
}

.single__inner {

}

.columns {
    display: block;
    @include mq("md") {
        display: flex;
    }
}

.columns__inner {
    width: 100%;
    max-width: rem(590);
    margin-right: rem(36);
    @include mq("md") {
        width: 70%;
    }
}

.columns-post {
    font-size: rem(16);
}

.columns-post__category {
    display: inline-block;
    text-align: center;
    background: $base;
    color: $white;
    font-size: rem(12);
    width: rem(110);
    line-height: rem(31);
}

.columns-post__title {
}

.columns-post__main {
    font-size: rem(28);
    margin-top: rem(23);
    margin-bottom: rem(15);
}

.columns-post__info {
    display: block;
    justify-content: space-between;
    align-items: center;
    @include mq("md") {
        display: flex;
        justify-content: space-between;
    }
}

.columns-post__social {
}

.columns-post__time {
    font-size: 16px;
}

.columns-post__thumbnail {
    margin-top: rem(14);
    margin-bottom: rem(16);
}

.columns-post__thumbnail img {
    object-fit: cover;
}

.columns-side {
    width: 100%;
    @include mq("md") {
        width: 30%;
    }
}

.entry {
    flex: 1;
}

.entry__inner {
    
}

.entry__body {
    color: $base;
    padding-top: rem(8);
    padding-bottom: rem(47);

    h2 {
        margin-top: rem(10);
        margin-bottom: rem(22);
        font-size: rem(26);
    }

    h3 {
        font-size: rem(22);
        border-left: rem(5) solid $base;
        padding-left: rem(8);
        margin-top: rem(10);
        margin-bottom: rem(22);
    }

    h4 {
        font-size: rem(22);
        margin-top: 20px;
        margin-bottom: 20px;
        @include mq("md") {
            font-size: 26px;
        }
    }

    a,p,ol,ul {
        font-size: rem(16);
    }

    a {
        color: #f5a623;
        text-decoration: underline;
        font-size: rem(18);
        @include mq("md") {
            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        margin-top: rem(10);
        margin-bottom: rem(10);
    }

    ul, ol {
        padding: 0;
        margin-top: rem(23);
        margin-bottom: rem(54);
      }
      
      ul li {
        position: relative;
        list-style-type: none!important;/*ポチ消す*/
        vertical-align: middle;
        border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
        line-height: 1.5;
        margin-left: rem(46);
        text-indent: rem(-32);
      }
      
      ul li:before{ 
        display:inline-block; 
        vertical-align: middle;
        /*以下白丸つくる*/
        content:'';
        width:11px;
        height: 11px;
        background: #f5a623;
        border-radius: 50%;
        margin-right: rem(21);
      }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        margin-top: rem(12);
        margin-bottom: rem(28);
        padding-top: rem(16);
        padding-bottom: rem(0);
        padding-left: rem(16);
        padding-right: rem(16);
        background: #f8f8f8;
        display: flex;
        
        p {
            position: relative;
            margin-top: rem(7);
        }
          
          &:before{ 
            content:'“';
            margin-right: rem(20);
            font-size: rem(90);
            line-height: 1;
            color: #b4b4b4;
          }
    }
}

.recommend {

}

.recommend__header {
    font-size: rem(26);
    color: $base;
    font-weight: bold;
    margin-bottom: rem(10);
}

.related__header {
    font-size: rem(21);
    color: $white;
    background: $base;
    text-align: center;
    line-height: rem(61);
    align-items: center;
    border: 1px solid #707070;
}
.related__body {
  padding-top: rem(30);
}

.category__header {
    font-size: rem(21);
    color: $white;
    background: $base;
    text-align: center;
    line-height: rem(61);
    border: 1px solid #707070;
}
.category__body {
    padding-top: rem(22);
    padding-left: rem(16);
    font-size: rem(16);
    line-height: 2;
}

.category__list {
    list-style: disc;
}