.flow {
  background: $white;
  font-size: rem(16);
}

.flow__inner {
  padding-top: rem(49);

}

.flow__heading {
  font-size: rem(36);
  color: $base;
  font-weight: bold;
  text-align: center;
  margin-bottom: rem(42);
}

.flow__list {
  
}

.flow__item {
  margin-bottom: rem(8);
  display: flex;
  span {
    font-size: rem(16);
    display: inline-block;
    background: $accent;
    width: rem(74);
    text-align: center;
    line-height: rem(64);
    color: $white;
    @include mq("md") {
      width: rem(64);
    }
  }
}

.flow__item:last-child {
  margin-bottom: rem(0);
}

dl {
  display: block;
  background: #f8f8f8;
  padding-top: rem(16);
  padding-bottom: rem(16);
  padding-right: rem(16);
  flex: 1;
  @include mq("md") {
    display: flex;
    padding-top: rem(0);
    padding-bottom: rem(0);
    padding-right: rem(0);
  }
}

dt {
  font-size: rem(18);
  color: $base;
  background: #f8f8f8;
  min-width: rem(270);
  font-weight: bold;
  display: flex;
  align-items: center;
  
  p {
    width: rem(216);
    padding-left: rem(21);
    @include mq("md") {
      display: flex;
      border-right: 1px solid #C3C3C3;
    }
  }
  
}

dd {
  font-size: rem(16);
  color: $base;
  line-height: rem(32);
  background: #f8f8f8;
  flex: 1;
  padding-left: rem(21);
  @include mq("md") {
    line-height: rem(64);
    padding-left: rem(0);
  }
}

