.home-lead {
  background-color: $base;
}

.home-lead__inner {
  text-align: center;
  padding-bottom: rem(49);
}

.home-lead__heading {
  padding-top: rem(54);
  margin-bottom: rem(44);
}
.home-lead__heading p {
  font-size: rem(36);
  font-weight: bold;
  color:$white;
}
.home-lead__heading p {
  font-size: rem(28);
  color:$white;
  @include mq("md") {
    font-size: rem(36);
    br {
      display: none;
    }
  }
}

.home-lead__worries-list {
  display: block;
  justify-content: center;
  margin-bottom: rem(67);
  @include mq("md") {
    display: flex;
  }
}

.home-lead__worries-item {
  margin-right: rem(0);
  br {
    display: none;
    @include mq("md") {
      display: block;
      margin-right: rem(57);
    }
  }
}

.home-lead__worries-item:last-child {
  margin-right: rem(0);
}

.home-lead__worries-item p {
  font-size: rem(18);
  line-height: rem(39);
  color: $white;
}

.home-lead__double-box {
  border:1px solid $base;
  border-top-width: 5px;border-right-width: 0px;border-bottom-width: 5px;border-left-width: 0px;
  outline: 5px solid $base;
  outline-offset: rem(-20);
  padding:rem(25);
  background: $white;
}

.home-lead__double-box h3 {
  font-size: rem(18);
  color: $base;
  line-height: rem(36);
  margin-bottom: rem(21);
  
  @include mq("md") {
    font-size: rem(36);
    line-height: rem(50);
  }
  
  span {
    background:linear-gradient(transparent 75%, $accent 0%);
  }
}

.home-lead__double-box p {
  font-size: rem(16);
  color: $base;
  line-height: rem(24);
  margin-bottom: rem(15);
  @include mq("md") {
    font-size: rem(18);
    line-height: rem(31);
    br {
      display: none;
    }
  }
}