.post {
  font-size: rem(16);
}

.post__inner {
  padding-top: rem(83);
  margin-bottom: rem(88);
  display: block;
  
  @include mq("md") {
    display: flex;
  }
}

.post__blog {
  width: 100%;
  @include mq("md") {
    width: 50%;
  }
}
.post__news {
  width: 100%;
  @include mq("md") {
    width: 50%;
  }
}