.cards-model {
  
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.cards-model__item {
  display: block;
  margin-bottom: rem(48);
  
  @include mq("md") {
    margin-right: rem(30);
    max-width: rem(280);
    width: calc(100% / 3 - 0rem);
    margin-bottom: rem(0);

    &:nth-child(3n) {
      margin-right: rem(0);
    }
  }
}


/*----------------------------------------
	Card
----------------------------------------*/
.card {
	display: block;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	color: inherit;
	text-decoration: none;
	transition: color .3s;
}
.card__thumb {
	overflow: hidden;
}
.card__thumb img {
	max-width: none;
	width: 100%;
	border-radius: 5px 5px 0 0;
	transition: transform .3s;
}
.card__txt {
	margin: 20px;
}
/*hover*/
.card:hover {
	color: tomato;
}
.card:hover .card__thumb img {
	transform: scale(1.1);
}

/*----------------------------------------
	CardList03
----------------------------------------*/
.cardList03 {
	display: flex;
	flex-direction: column;
	margin-top: -20px; /*1行目の上マージンを相殺*/
}
.cardList03__item {
	margin-top: 20px;
}
@media screen and (min-width: 768px),print {
  .cardList03 {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px; /*左端列の左マージンを相殺*/
  }
	.cardList03__item {
    margin-left: 20px;
		width: calc((100% - 60px) / 3); /*各列の左マージン分合計を除いて1/3*/
	}
}
