.card-blog {
  display: flex;
}

.card-blog:hover {
  cursor: pointer;
}

.card-blog__image {
  position: relative;
}


.card-blog__image img {
  width: rem(240);
  height: rem(179);
  object-fit: cover;
}


.card-blog__cate {
  position: absolute;
  content: "";
  font-size: rem(12);
  color: $white;
  top: rem(0);
  left: rem(0);
  background: $base;
  width: rem(80);
  height: rem(28);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  z-index: 10;
}

.card-blog__body {
  flex: 1;
  font-size: rem(16);
  padding-left: rem(50);
}

.card-blog__title {
  font-size: rem(26);
  letter-spacing: rem(0);
  line-height: rem(27);
  color: $base;
  text-decoration: underline;
  margin-bottom: rem(22);
}

.card-blog__date {
  font-size: rem(16);
  line-height: rem(12);
  color: $base;
  margin-top: auto;
  margin-bottom: rem(24);
}
