.form {
  font-size: rem(16);
  color: $base;
}

.form__thanks {
  text-align: center;
}

.form__home {
  margin-top: rem(80);
  text-align: center;
}

input, textarea, label {
  font-size: rem(16);
}

input {
  margin-top: rem(6);
  margin-bottom: rem(16);
}
textarea {
  margin-top: rem(6);
  margin-bottom: rem(16);
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid $base ;
  width: 100%;
  padding: rem(10);
}

textarea {
  border: 1px solid $base ;
  width: 100%;
  padding: rem(16);
  height: 15em;
}
/* ラジオボタン */
.radio {
  margin-top: rem(-18);
  label {
  }
}

.radio-input {
}

.radio-input{
  display: none;
}
.radio-input + span{
  padding-left: 40px;
  position:relative;
  line-height: rem(29);
}
.radio-input + span::before{
  content: "";
  display: block;
  position: absolute;
  top: -2.5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  border-radius: 50%;
}
.radio-input:checked + span{
  color: $base;
}
.radio-input:checked + span::after{
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: $base;
  border-radius: 50%;
}

.checkbox {
  text-align: center;
  padding-left: rem(0);
  @include mq("md") {
    padding-left: rem(52);
  }
  a {
    text-decoration: underline;
  }
}

input[type="checkbox"] {
  /* デフォルトcheckボックス非表示*/
  display: none;
}
.mwform-checkbox-field-text {
  display: inline-block;
  position: relative;
  padding: 0 0 0 36px;
  margin-top: rem(20);
}
.mwform-checkbox-field-text::before,
.mwform-checkbox-field-text::after {
  content: "";
  position: absolute;
  display: block;
}
.mwform-checkbox-field-text::before {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mwform-checkbox-field-text::after {
  border-width: 3px;
  border-color: transparent transparent #78a6e4 #78a6e4;
  border-style: solid;
  width: 20px;
  height: 10px;
  margin-top: -0.2em;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0;
}
input[type="checkbox"]:checked + .mwform-checkbox-field-text::after {
  /* css擬似要素 :checked が付加されているときは表示  */
  opacity: 1;
}



.form-button {
  text-align: center;
}

.block41 {
  margin-top: rem(41);
}
.block4 {
  margin-top: rem(4);
}
.block12 {
  margin-top: rem(12);
}

.block3 {
  margin-top: rem(3);
}
.block15 {
  margin-top: rem(15);
}
.block20 {
  margin-top: rem(20);
}
.block36 {
  margin-top: rem(36);
}