.pagination {
}
.pagination ul {
  display: flex;
  justify-content: center;
}
.pagination li{
  font-size: rem(16);
  margin-right: rem(19);
  text-align: center;
}
.pagination li .current{
  display: inline-block;
  color: $white;
  background: $base;
  width: rem(50);
  line-height: rem(50);
  border: solid 1px $base;
}
.pagination li .dots{
  display: inline-block;
  width: rem(50);
  line-height: rem(50);
}
.pagination li a{
  display: inline-block;
  border: solid 1px $base;
  width: rem(50);
  line-height: rem(50);
}

