/* はてブはアイコンフォントがないためテキストで代用 */
.fa-hatena:before {
  font-family: Verdana;
  font-weight: bold;
  content: 'B!';
  }
   
  /* 上下のマージン */
  .share {
  margin-top: rem(8);
  margin-bottom: rem(8);
  }
   
  .share ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }
   
  .share ul:after {
  display: block;
  clear: both;
  content: '';
  }
   
  .share li {
  float: left;
  margin: 0;
  }
   
  .share li a {
  font-size: 10px;/* フォントサイズ */
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  height: rem(20);
  line-height: rem(20);
  margin-right: rem(4);
  padding-left: rem(16);
  padding-right: rem(8);
  }
  .share .facebook a {
  height: rem(20);
  line-height: rem(20);
  padding-left: rem(8);
  padding-right: rem(8);
  width: rem(69);
  }
  .share .facebook-share a {
  height: rem(20);
  line-height: rem(20);
  padding-left: rem(8);
  padding-right: rem(8);
  width: rem(44);
  }
  .share .tweet a {
  height: rem(20);
  line-height: rem(20);
  padding-left: rem(8);
  padding-right: rem(8);
  width: rem(69);
  }
   
  /* マウスオーバー時の透明度 */
  .share li a:hover {
  opacity: .8;
  }
   
  .share li a:visited {
  color: #fff;
  }
   
  /* ボタンの各ブランドカラー設定 */
  .tweet a {
  background-color: #55acee;
  }
   
  .facebook a {
  background-color: #315096;
  }

  .facebook-share a {
  background-color: #315096;
  }
   
  .hatena a {
  background-color: #008fde;
  }
   
  .line a {
  background-color: #00c030;
  }
   
  /* スマホでの表示 */
  @media(max-width: 599px) {
   
  .share li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  }
   
  .share li i {
  font-size: 1.3em;
  padding-top: 3px;
  }
  /* スマホ表示ではテキスト非表示 */
  .share li span {
  display: none;
  }
  }